.news li {
    margin-bottom: 40px;
}
.news li .title {
    display: flex;
    align-items: center;
}
.news li figure {
    margin-left: 10px;
    margin-right: 20px;
    min-width: 70px;
    color: #818181;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}
.news li figure strong {
    white-space: nowrap;
}
.news li figure p {
    color: #f9f9f9 /* XX-WHITE #272727 */;
    font-weight: bold;
    margin: 0;
}
