.news li {
    display: flex;
    margin-right: 20px;
}
.news li figure {
    color: #818181;
    font-size: 1.1rem;
    margin-right: 10px;
    min-width: 70px;
    text-align: center;
    text-transform: uppercase;
}
.news li figure strong {
    white-space: nowrap;
}
.news li figure p {
    color: #f9f9f9; /* WHITE color:#272727; */
    font-weight: bold;
    margin: 0;
}
.news li .content p {
    font-size: 0.92rem;
}
