binaries/*.xz
binaries/*.zip
binaries/downloads/
binaries/*/*/README.txt
binaries/linux*/*/*/Ma*.*
binaries/linux*/*/*/HiReSam.*
binaries/linux*/*/*/JuceDemoPlugin.*
binaries/macOS/*/Ma*.*
binaries/win*/*/Ma*.*
